.container {
  text-align: center;
  font-size: 18px;
}

.mainTitle {
  color: blue;
  font-size: 2em;
}

.msgTitle {
  color: #ff6b6b;
  font-size: 2em;
  font-family: 'Tangerine', serif;
  text-decoration: underline;
}
