
.msgAnimated-enter {
	opacity: 0;
}

.msgAnimated-enter-active {
	opacity: 1;
	transition: opacity 2000ms ease-out;
	;
}

.msgAnimated-exit {
	box-shadow: 0 0 30px 5px hsl(355, 78%, 56%);
	opacity: 1;
}

.msgAnimated-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in; 
}
