.container {
	text-align: center;
	font-size: 18px;
	background: #fff;
	padding: 0!important;
	margin-left: 0px!important;
	border-right: 1px solid #9C27B0;

}

.mainTitle {
	font-size: 2.5em;
	color: gray;
	text-align: center;
}

.chatName {
	text-decoration: none!important;
}

.active {
	text-decoration: none;

}

.unselected {
	text-decoration: none;
}