.container {
	display: flex;
	flex-direction: row;
	text-align: left;
	font-size: 18px;
	padding: 0!important;
	margin-left: 0px!important;
}

.wrapper {
	display: flex;
	justify-content: start;
}

.boxUsers {
	padding-right:10px;
	flex: 1 0 25%;


}

.usersBlock {
	border-right: 1px solid #9c27b0;
	padding-right: 5px;
	margin-right:5px;
}

.boxChat {
	flex: 1 0 70%;
	text-align: center;
	

}

.mainTitle {
	font-size: 2.5em;
	color: gray;
	text-align: center;
}

.mainTitleUsers {
	display: block;
	width: 300px;
	font-size: 2.5em;
	text-align: center;
}

.chatName {
	text-decoration: none!important;
	margin-left: 10px;
}

.addUserBtn,
.addAllBtn {
	display: block;
	width: 10%;
	margin: 10px!important;
}

.active {
	text-decoration: none;

}

.unselected {
	text-decoration: none;
}
